
<div id="home">
    <div id="conteudo-mg">
        <div><a name="content">&nbsp;</a></div>

        <div id="coluna1">

            <h2>NOTÍCIAS</h2>

            <div class="bloco-chamada">
                <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
                <br class="clr" />
            </div>

            <div class="bloco-chamada-div">&nbsp;</div>

            <div class="bloco-chamada">
                <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
                <br class="clr" />
            </div>

            <div class="bloco-chamada-div">&nbsp;</div>

            <div class="bloco-chamada">
                <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
                <br class="clr" />
            </div>

            <div class="mais"><a href="noticias/" title="Ver mais notícias">Ver mais notícias</a></div>

            <br class="clr" />

            <div class="hr">&nbsp;</div>

            <h2>EVENTOS</h2>

            <div class="bloco-chamada">
                <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
                <div class="resumo"><a href="agenda-detalhe.html" title="{TÍTULO}">{CHAMADA}</a></div>
                <br class="clr" />
            </div>

            <div class="bloco-chamada-div">&nbsp;</div>

            <div class="bloco-chamada">
                <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
                <div class="resumo"><a href="agenda-detalhe.html}" title="{TÍTULO}">{CHAMADA}</a></div>
                <br class="clr" />
            </div>

            <div class="bloco-chamada-div">&nbsp;</div>

            <div class="bloco-chamada">
                <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
                <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
                <div class="resumo"><a href="agenda-detalhe.html" title="{TÍTULO}">{CHAMADA}</a></div>
                <br class="clr" />
            </div>

            <br class="clr" />

            <div class="mais"><a href="agenda/" title="Ver mais eventos">Ver mais eventos</a></div>

        </div>
        <div id="coluna2">
            <div id="coluna2-mg">
                <div class="banner-square"><a href="#" title="Título do Banner"><img src="~/Content/Imagens/fake/square.jpg" width="120" height="90" alt="Título do Banner" title="Título do Banner" /></a></div>
                <div class="banner-square"><a href="#" title="Título do Banner"><img src="~/Content/Imagens/fake/square.jpg" width="120" height="90" alt="Título do Banner" title="Título do Banner" /></a></div>
                <div class="banner-square"><a href="#" title="Título do Banner"><img src="~/Content/Imagens/fake/square.jpg" width="120" height="90" alt="Título do Banner" title="Título do Banner" /></a></div>
            </div>
        </div>
        <br class="clr" />

    </div>
</div>
<!-- conteúdo/end -->