<div class="bloco-chamada">
    <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
    <div class="resumo"><a href="agenda-detalhe.html" title="{TÍTULO}">{CHAMADA}</a></div>
    <br class="clr" />
</div>

<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
    <div class="resumo"><a href="agenda-detalhe.html}" title="{TÍTULO}">{CHAMADA}</a></div>
    <br class="clr" />
</div>

<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="agenda-detalhe.html" title="{TÍTULO}"><img src="~/Content/Imagens/eventos/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="agenda-detalhe.html" title="{TÍTULO}">{TÍTULO}</a></div>
    <div class="resumo"><a href="agenda-detalhe.html" title="{TÍTULO}">{CHAMADA}</a></div>
    <br class="clr" />
</div>

<br class="clr" />

<div class="mais"><a href="agenda/" title="Ver mais eventos">Ver mais eventos</a></div>
