<div class="bloco-chamada">
    <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
    <br class="clr" />
</div>

<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
    <br class="clr" />
</div>

<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
    <br class="clr" />
</div>

<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
    <br class="clr" />
</div>


<div class="bloco-chamada-div">&nbsp;</div>

<div class="bloco-chamada">
    <a href="{LINK}" title="{TÍTULO}"><img src="~/Content/Imagens/noticias/thumb.jpg" width="88" height="68" alt="{TÍTULO}" title="{TÍTULO}" class="imagem" /></a>
    <div class="titulo"><a href="{LINK}" title="{TÍTULO}">{TÍTULO}</a></div>
    <br class="clr" />
</div>


<div class="mais"><a href="noticias/" title="Ver mais notícias">Ver mais notícias</a></div>

<br class="clr" />

<div class="hr">&nbsp;</div>
