@{
    ViewBag.Title = "Home Page";
}

<!-- destaques/begin -->
<div id="chamadas">
    <div id="chamadas-box">
        <div id="chamadas-box-esq"><a href="/downloads/marca.php" title="Youtube dos Escoteiros do Brasil"><img src="~/Content/Imagens/destaques/destaque.jpg" width="758" height="254" alt="Nova Marca dos Escoteiros do Brasil" title="Nova Marca dos Escoteiros do Brasil" /></a><div id="legenda"><div id="legenda-mg">Nova Marca dos Escoteiros do Brasil</div></div></div>
        <div id="chamadas-box-dir">
            <div class="chamadas-box-botao-ativo">
                <div class="chamadas-box-link"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/downloads/marca.php" title="Nova Marca dos Escoteiros do Brasil">Nova Marca dos Escoteiros do Brasil</a></div>
                <div class="chamadas-box-img"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/downloads/marca.php" title="Nova Marca dos Escoteiros do Brasil"><img src="~/Content/Imagens/destaques/thumb.jpg" width="60" height="40" alt="Nova Marca dos Escoteiros do Brasil" title="Nova Marca dos Escoteiros do Brasil" /></a></div>
                <br class="clr" />
            </div>
            <div class="chamadas-box-botao">
                <div class="chamadas-box-link"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="http://www.youtube.com/escoteirosbrasil" title="Youtube dos Escoteiros do Brasil">Youtube dos Escoteiros do Brasil</a></div>
                <div class="chamadas-box-img"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="http://www.youtube.com/escoteirosbrasil" title="Youtube dos Escoteiros do Brasil"><img src="~/Content/Imagens/destaques/thumb.jpg" width="60" height="40" alt="Youtube dos Escoteiros do Brasil" title="Youtube dos Escoteiros do Brasil" /></a></div>
                <br class="clr" />
            </div>

            <div class="chamadas-box-botao">
                <div class="chamadas-box-link"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/agenda/evento_detalhe.php?id=7" title="Curso de Formação em Brasília">Curso de Formação em Brasília</a></div>
                <div class="chamadas-box-img"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/agenda/evento_detalhe.php?id=7" title="Curso de Formação em Brasília"><img src="~/Content/Imagens/destaques/thumb.jpg" width="60" height="40" alt="Curso de Formação em Brasília" alt="Curso de Formação em Brasília" /></a></div>
                <br class="clr" />
            </div>
            <div class="chamadas-box-botao">
                <div class="chamadas-box-link"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/especiais/centenario_do_escotismo_brasileiro/" title="Celebrando o Centenário">Celebrando o Centenário</a></div>
                <div class="chamadas-box-img"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/especiais/centenario_do_escotismo_brasileiro/" title="Celebrando o Centenário"><img src="~/Content/Imagens/destaques/thumb.jpg" width="60" height="40" alt="Celebrando o Centenário" title="Celebrando o Centenário" /></a></div>
                <br class="clr" />
            </div>
            <div class="chamadas-box-botao">
                <div class="chamadas-box-link"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/noticias/noticia_detalhe.php?id=11" title="Delegação do Fórum Mundial de Jovens">Delegação do Fórum Mundial de Jovens</a></div>
                <div class="chamadas-box-img"><a href="~/Content/Imagens/destaques/destaque.jpg" rel="/noticias/noticia_detalhe.php?id=11" title="Delegação do Fórum Mundial de Jovens"><img src="~/Content/Imagens/destaques/thumb.jpg" width="60" height="40" alt="Delegação do Fórum Mundial de Jovens" title="Delegação do Fórum Mundial de Jovens" /></a></div>
                <br class="clr" />
            </div>

        </div>
        <br class="clr" />
    </div>
</div>
<!-- destaques/end -->

@Html.Partial("_Corpo2")